.UI {
  background: rgba(255, 255, 255, 0.25);
  color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
}

p {
  margin-top: 0;
}

input[type="range"] {
  margin: 4px 0;
}

button,
a.button {
  background: #fff;
  border: 0 none;
  border-radius: 3px;
  cursor: pointer;
  color: #000;
  display: block;
  padding: 4px 12px;
  margin: 4px 0;
  min-width: 100px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
}

a.button:hover,
button:hover {
  background: #ddd;
}

button[disabled] {
  background: #999;
  color: #eee;
}
